# =========================================
# Logs
# =========================================
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# =========================================
# Dependencias y Builds
# =========================================
node_modules/
.pnpm-store/
dist/
dist-ssr/
*.local

# =========================================
# Cache y Testing
# =========================================
.eslintcache
.vite/
coverage/

# =========================================
# Variables de entorno (CRÍTICO)
# =========================================
.env
.env.*
!.env.example

.env.local
.env.development.local
.env.test.local
.env.production.local

# =========================================
# Firebase
# =========================================

# Configuración local de Firebase CLI
.firebase/

# Logs de Firebase
firebase-debug.log
firebase-debug.*.log
firestore-debug.log
ui-debug.log

# Exportaciones del Emulator Suite
firebase-export/

# =========================================
# Editor
# =========================================
.vscode/*
!.vscode/extensions.json

.idea/

# =========================================
# Sistema Operativo
# =========================================
.DS_Store
Thumbs.db

# =========================================
# Visual Studio
# =========================================
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?